@import "./variables";
@import "./mixins.scss";
@import "./animations.scss";
$heading-primary: 9.6rem;

.heading-primary {
  @include apply-color-border($accent);
  color: $primary;
  display: inline-block;
  font-size: $heading-primary;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 9.6px;
  position: relative;
  padding: 1rem;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: animate-section-title 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    -webkit-text-stroke: 0px transparent;
    color: $primary;
    text-shadow: 0 0 4px $secondary, 0 0 4px $secondary, 0 0 4px $secondary,
      0 0 4px $accent, 0 0 4px $accent, 0 0 4px $accent, 0 0 4px $secondary,
      0 0 4px $secondary;
  }
}
.heading-section {
  display: inline;
  position: relative;
  font-size: $heading-primary;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 9.6px;
  color: $accent;
  background-clip: text;
  animation: title-enter-left 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.heading-section-border {
  display: inline;
  font-size: $heading-primary;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 800;
  letter-spacing: 9.6px;
  position: relative;
  background: $accent;
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  color: $primary;
  animation: title-enter-right 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.text {
  color: $accent;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 24px; /* 120% */
  letter-spacing: 2px;
}

@media (max-width: 1280px) {
  .heading-primary {
    font-size: 8.6rem;
  }
  .heading-section {
    font-size: 8.6rem;
  }
  .heading-section-border {
    font-size: 8.6rem;
  }
  .text {
    font-size: 1.6rem;
  }
}
@media (max-width: 1024px) {
  .heading-primary {
    font-size: 7.6rem;
  }
  .heading-section {
    font-size: 7.6rem;
  }
  .heading-section-border {
    font-size: 7.6rem;
  }
  .text {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .heading-primary {
    font-size: 6.6rem;
  }
  .heading-section {
    font-size: 6.6rem;
  }
  .heading-section-border {
    font-size: 6.6rem;
  }
  .text {
    font-size: 1.4rem;
  }
}
@media (max-width: 512px) {
  .heading-primary {
    font-size: 5.6rem;
  }
  .heading-section {
    font-size: 5.6rem;
  }
  .heading-section-border {
    font-size: 5.6rem;
  }
}
