@import "./variables";
@import "./mixins.scss";
@import "./animations.scss";
$heading-primary: 9.6rem;

.heading-primary {
  @include apply-gradient-border;
  display: inline-block;
  font-size: $heading-primary;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 9.6px;
  position: relative;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: animate-section-title 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:after {
    background: none repeat scroll 0 0 transparent;
    position: absolute;
    display: block;
    bottom: 0;
    content: "";
    height: 3px;
    left: 60%;
    bottom: 5%;
    @include apply-gradient-block;
    transition: width 0.3s ease 0s, left 0.3s ease 0s, height 0.1s ease 0s;
    width: 0;
    box-shadow: 0 0 20px $secondary, 0 0 20px $secondary, 0 0 20px $secondary,
      0 0 20px $secondary, 0 0 20px $secondary, 0 0 20px $secondary,
      0 0 20px $secondary, 0 0 20px $secondary;
  }

  &:hover:after {
    width: 130%;
    left: -40%;
  }

  &:hover {
    @include apply-gradient-text;
    -webkit-text-stroke: 0px transparent;
    color: transparent;
    margin-left: 10rem;
  }
}
.heading-section {
  display: inline-block;
  position: relative;
  font-size: $heading-primary;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 9.6px;
  color: $accent;
  background-clip: text;
  animation: title-enter-left 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.heading-section-border {
  display: inline-block;
  font-size: $heading-primary;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 800;
  letter-spacing: 9.6px;
  position: relative;
  background: $accent;
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  color: $primary;
  animation: title-enter-right 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.text {
  color: $accent;
  font-size: 1.8rem;
  text-align: center;
  line-height: 24px; /* 120% */
  letter-spacing: 2px;
}
