$primary: #111111;
$secondary: #9164d4;
$accent: #f8f8f8;
$grey: #afafaf;
$linear: linear-gradient(to right, #00dbde 0%, #625ee2 40%, #9564d2);
$nesrine-linear: linear-gradient(to right, #994cf7, #9f53e1);
$nizar-linear: linear-gradient(to right, #c9b740, #ddb44b);
$amine-linear: linear-gradient(to right, #43209c, #060638);
