$primary: #111111;
$secondary: #9164d4;
$accent: #f8f8f8;
$grey: #afafaf;
$linear: linear-gradient(to right, #00dbde 0%, #625ee2 40%, #9564d2);
$nousa-linear: linear-gradient(to right, #ee981f, #ff832a);
$nizar-linear: linear-gradient(to right, #3c3c3c, #000000);
$amine-linear: linear-gradient(to right, #43209c, #060638);
