@keyframes animate-section-title {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes text-enter-right {
  0% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes image-enter-left {
  0% {
    transform: translateX(100rem);
  }
  100% {
    transform: translateX(0px);
  }
}
