@keyframes animate-section-title {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animate-logo-rotate {
  0% {
    transform: rotate(3000deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animate-lines {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes title-enter-left {
  0% {
    transform: translateX(80rem);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes title-enter-right {
  0% {
    transform: translateX(-80rem);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes text-enter-right {
  0% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes image-enter-left {
  0% {
    transform: translateX(100rem);
  }
  100% {
    transform: translateX(0px);
  }
}
