@import "./variables";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // user-select: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $primary;
  color: $accent;
  overflow-x: hidden;
}
