@mixin apply-gradient-text {
  background: $linear;
  background-size: 100% 100%;
  background-clip: text;
}
@mixin apply-gradient-border {
  background: $linear;
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  color: $primary;
}
@mixin apply-color-border($color:$primary) {
  background: $color;
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
}
@mixin apply-gradient-block($color) {
  background: $color;
  background-size: 100% 100%;
}
@mixin apply-gradient-border-box {
  border: 2px solid transparent; /* Set an initial transparent border */
  border-image: $linear; /* Linear gradient border */
  border-image-slice: 1; /* Ensure the entire border is covered with the gradient */
}
